## Questions based on Titanic Dataset:

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [35]:
import pandas as pd
import numpy as np

In [42]:
titanic = pd.read_csv("../Data_sets/titanic.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [52]:
for i,j in titanic.groupby("Pclass"):
    print(i,j["Age"].mean(), j["Age"].isna().sum())

1 38.233440860215055 30
2 29.87763005780347 11
3 25.14061971830986 136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [61]:
for i, j in titanic.groupby("Pclass"):
    print(i,j["Embarked"].fillna(j["Embarked"].mode()))

1 1      C
3      S
6      S
11     S
23     S
      ..
871    S
872    S
879    C
887    S
889    C
Name: Embarked, Length: 216, dtype: object
2 9      C
15     S
17     S
20     S
21     S
      ..
866    C
874    C
880    S
883    S
886    S
Name: Embarked, Length: 184, dtype: object
3 0      S
2      S
4      S
5      Q
7      S
      ..
882    S
884    S
885    Q
888    S
890    Q
Name: Embarked, Length: 491, dtype: object

In [62]:
for i, j in titanic.groupby("Pclass"):
    print(i,j["Embarked"].value_counts())

1 S    127
C     85
Q      2
Name: Embarked, dtype: int64
2 S    164
C     17
Q      3
Name: Embarked, dtype: int64
3 S    353
Q     72
C     66
Name: Embarked, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [64]:
titanic.groupby(["Embarked","Pclass"])["Fare"].mean()

Embarked  Pclass
C         1         104.718529
          2          25.358335
          3          11.214083
Q         1          90.000000
          2          12.350000
          3          11.183393
S         1          70.364862
          2          20.327439
          3          14.644083
Name: Fare, dtype: float64

## Questions Based on Fifa Worldcup - 2022 Dataset:

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [66]:
fifa = pd.read_csv("../Data_sets/FIFA.csv")
fifa

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,...,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,...,19,4,516,419,24,3,5,28,4,0

In [80]:
def z_normal(a,b):
    for i in b:
        a["normal_{}".format(i)]=(a[i]-a[i].mean())/a[i].std()
    return a

In [81]:
z_normal(fifa.groupby("Team"),["Passes","Passes Completed","Attempted Line Breaks","Completed Line Breaks"])

C:\ProgramData\anaconda3\lib\site-packages\pandas\core\roperator.py:15: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return right - left

ValueError: operands could not be broadcast together with shapes (32,2) (32,)

## Questions on IPL dataset

Use deliveries dataset

### `Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [ ]:
# code here

### `Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
# code here

### `Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [ ]:
# code here

### `Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [1]:
# code here

In [9]:
def odd():
    for i in range(49,102,2):
        print(i, end=",")
odd()

49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101,

In [12]:
a=lambda x: "False" if x%2!=0 else x

In [15]:
a(4)

4

In [16]:
import numpy as np

In [40]:
a=np.random.randint(1,100,343).reshape(7,49)

array([[11, 20, 28, 79, 38, 11, 44, 77, 73, 77, 69,  3, 55, 87,  2, 23,
         9, 66,  5, 79, 17, 77, 56, 18, 71,  8, 11, 65, 44, 41, 31, 29,
         2, 24, 22, 34, 54,  8, 20, 54, 73, 78, 30,  7, 30, 11, 28, 79,
        69],
       [20, 78, 79, 49, 81, 45, 28,  6, 33, 78,  4, 56, 22, 30, 99, 87,
        38, 81, 48, 77, 52, 22,  1,  7, 75,  7, 24, 28, 92, 82, 41, 96,
         5, 14, 56, 70, 25, 25, 63,  4, 87, 80, 84, 45, 29, 61, 93, 19,
        27],
       [24, 30, 69, 84,  7,  1, 43, 48, 89, 60,  4, 42,  5, 31, 44, 84,
        86, 99, 15, 39,  7, 73, 14, 90, 25, 45, 46, 92, 95, 32, 17, 29,
        85,  8, 47, 82, 12, 39, 28, 97, 22, 32, 43, 50, 60, 66, 34, 76,
        73],
       [21, 85, 16, 33, 33, 65, 22, 97, 51, 56, 42, 91, 83, 34, 16, 22,
        48, 99,  2, 66, 62, 65, 30, 88, 77, 51,  1, 49,  2, 63, 11, 14,
         5, 12, 19, 11,  2, 39, 99, 30, 44, 86, 73, 40, 16, 86,  4, 25,
        36],
       [60,  1, 23, 36, 81, 24, 47, 55, 10, 68, 77, 77, 34, 22, 67, 56,
        29, 97, 81, 48, 93, 95, 41, 84, 88, 61,  2,  2, 14,  1, 27, 93,
        69, 22, 61,  5, 34, 60, 74, 80, 99, 97, 65, 15, 25, 55, 46,  6,
        35],
       [84, 72, 87, 10, 71, 15, 39, 97,  9, 19,  6, 12, 87, 20, 97, 13,
        98, 69, 69, 22, 99, 98, 76, 79,  7, 20, 71,  9, 27, 36, 86, 13,
        77, 29, 82, 61, 40, 81, 73, 16, 77, 26, 69, 38, 45, 80, 23, 94,
        60],
       [26, 84, 25, 51, 89,  9, 27, 80, 51, 86, 50, 75, 93, 14, 80, 47,
        86, 58, 51, 36, 49, 75, 44, 84, 53, 39, 34, 19, 36, 18, 93, 96,
        82, 65, 24, 80, 28, 28,  8, 47, 42, 37, 63, 83, 22, 41, 80, 35,
        32]])

In [47]:
import pandas as pd

In [65]:
x=np.arange(60,76)

In [66]:
a=pd.Series(x)

In [77]:
a[::1]

0     60
1     61
2     62
3     63
4     64
5     65
6     66
7     67
8     68
9     69
10    70
11    71
12    72
13    73
14    74
15    75
dtype: int32

In [90]:
print(1,2,3,4,5, sep="*\n", end="*")

1*
2*
3*
4*
5*

In [112]:
for i in range(11,21):
    for j in range(1,11):
        print(i*j, end="\t")
    print(end="\n")

11	22	33	44	55	66	77	88	99	110
12	24	36	48	60	72	84	96	108	120
13	26	39	52	65	78	91	104	117	130
14	28	42	56	70	84	98	112	126	140
15	30	45	60	75	90	105	120	135	150
16	32	48	64	80	96	112	128	144	160
17	34	51	68	85	102	119	136	153	170
18	36	54	72	90	108	126	144	162	180
19	38	57	76	95	114	133	152	171	190
20	40	60	80	100	120	140	160	180	200

In [5]:
a= "Python"
print(a[::-1])

nohtyP

In [6]:
a= True
b= False
print(a,b)

True False

In [10]:
pip install ipython_sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython_sql in c:\users\user\appdata\roaming\python\python310\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\appdata\roaming\python\python310\site-packages (from ipython_sql) (2.0.27)
Requirement already satisfied: sqlparse in c:\users\user\appdata\roaming\python\python310\site-packages (from ipython_sql) (0.4.4)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: prettytable in c:\users\user\appdata\roaming\python\python310\site-packages (from ipython_sql) (3.10.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython_sql) (1.16.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython_sql) (8.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython_sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\roaming\python\python310\site-packages (from sqlalchemy>=2.0->ipython_sql) (4.10.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.18.1)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\appdata\roaming\python\python310\site-packages (from ipython->ipython_sql) (2.17.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (3.0.36)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (5.7.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.1.6)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.4.6)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable->ipython_sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython_sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (2.0.5)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [24]:
%load_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False
%sql mysql:///ymsdb.admin_analysis.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sqlalchemy\engine\create.py", line 599, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sqlalchemy\dialects\mysql\mysqldb.py", line 152, in import_dbapi
    return __import__("MySQLdb")
ModuleNotFoundError: No module named 'MySQLdb'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///sales.sqlite.db'])
Traceback (most recent call last):
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sqlalchemy\engine\create.py", line 599, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "C:\Users\user\AppData\Roaming\Python\Python310\site-packages\sqlalchemy\dialects\mysql\mysqldb.py", line 152, in import_dbapi
    return __import__("MySQLdb")
ModuleNotFoundError: No module named 'MySQLdb'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///sales.sqlite.db'])

In [7]:
l = [1,2,3,4,5,6,3,4,5,7,8,2,3,5]

d={}
for i in l:
    d[i] = l.count(i)
    
d

{1: 1, 2: 2, 3: 3, 4: 2, 5: 3, 6: 1, 7: 1, 8: 1}

In [15]:
l1= [1,2,3,4,5,6,3,4,5,7,8,2,3,5]

d={}

for i in l1:
    if i in d:
        d[i] +=1
    else:
        d[i] = 1
d

{1: 1, 2: 2, 3: 3, 4: 2, 5: 3, 6: 1, 7: 1, 8: 1}

In [3]:
for i in range(7):
    print("*", end= " ")
    for j in range(5):
        if i==6:
            print("*",end=" ")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
* * * * * *

In [29]:
for i in range(7):
    print("*", end=" ")
    for j in range(7):
        if  i==3:
            print("*",end=" ")
        else:
            print(end=" ")
    print("*")

*        *
*        *
*        *
* * * * * * * * *
*        *
*        *
*        *

In [44]:
a=5
for i in range(6):
    a=i*1
print(a)                #Here I Iterates until 5 times it gets multiply with 1 then we get a=5

5

In [45]:
arr=[12,13,56,7]
list(reversed(arr))       # to reverse the List

[7, 56, 13, 12]